@import "tailwindcss";

:root {
  --font-display: "Playfair Display", serif;
  --font-body: "Source Sans 3", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-display);
}

body {
  font-family: var(--font-body);
}
